flows/Auto_Submit_Allegation_Approvals-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[{&quot;name&quot;:&quot;Intake Supervisor&quot;,&quot;id&quot;:&quot;00515000006UYAvAAO&quot;}],&quot;message&quot;:&quot;@[00515000006UYAvAAO] an Unsubstantiated or Unfounded Allegation requires your approval.  &quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>@Mention the Supervisor</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[00515000006UYAvAAO] an Unsubstantiated or Unfounded Allegation requires your approval.  </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Unsubstantiated Allegations Require Appr - Unsubstantiated_Allegations_Require_Appr</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>currentUser</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Auto-Submit Approval</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Unsubstantiated_Allegations_Require_Appr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsubstantiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unfounded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Assess Status &amp; Disposition</label>
        </rules>
    </decisions>
    <description>Auto-Submit Allegation Approvals</description>
    <interviewLabel>Auto_Submit_Allegation_Approvals-1_Allegation__c</interviewLabel>
    <label>Auto-Submit Allegation Approvals</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Allegation__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Allegation__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Allegation__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
